
<h2 id="title">Posts</h2>

<hr>

Loading: {{isLoading}}

<hr>

{{#if isLoaded}}

  {{fa-icon "refresh" spin=isLoading}}
  loading...

{{else}}

<ul class="fa-ul">
  {{#each model as |post|}}
    <li>{{post.post_description}} {{fa-icon "star" listItem=true}}</li>
  {{/each}}
</ul>

{{/if}}



{{outlet}}
